<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluninho</title>
</head>
<body>
    <h1>Informações sobre aluno</h1>
    <ul>
        <li>
            <h3>Nome:</h3>
            <p>{{n}}</p>
        </li>

        <li>
            <h3>Turma:</h3>
            <p>oitavo ano do ensino {{n}}</p>
        </li>

        <li>
            <h3>Casa:</h3>
            <p>imagem de casa</p>
        </li>
    </ul>
</body>
</html>